/* =================== FORM ==========================*/
button {
  background-color: var(--accent);
  border: none;
  padding: 0.5em 1em;
  margin: 1em;
  border-radius: 1em;
  font-size: 1.2rem;
  color: white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}

button:focus,
button:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: var(--medium);
  outline: none;
}

button:hover {
  background-color: var(--medium);
  color: white;
}

input {
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid var(--accent);
  border-radius: 1em;
}

input:focus,
input:active {
  outline: none;
  border: 2px solid var(--medium);
}

fieldset {
  margin: 1em 0;
  padding: 1em;
}

fieldset legend {
  margin: 0.5em;
  padding: 0.2em;
}

#contact-message {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 0;
}

/* ======================= CODE PLAYGROUND =================== */
.code-playground {
  background-color: var(--light);
  margin: 0;
  padding-bottom: 3em;
}

.box {
  width: 80%;
  max-width: 1000px;
  margin: 150px auto;
  border: 3px solid var(--accent);
  border-radius: 3em;
  padding: 50px;
  background-color: white;
}

h3 {
  text-align: center;
  padding-bottom: 1em;
  color: var(--light);
}

/* =================== GRADIENT AND box shadow ==================== */
.gradientbox1 {
  width: 80%;
  display: block;
  margin: 0 3rem;
  height: 100px;
  background: repeating-linear-gradient(
    45deg,
    yellow 0px,
    cyan 40px,
    magenta 80px,
    yellow 110px
  );
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.gradientbox1:hover {
  transform: skewY(-5deg);
}

.gradientbox2 {
  display: block;
  margin: 0 3rem;
  width: 80%;
  height: 100px;
  background: repeating-linear-gradient(
    90deg,
    black 0px,
    black 20px,
    white 20px,
    white 40px
  );
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.gradientbox2:hover {
  transform: skewX(45deg);
}

.rainbow-box {
  width: 10em;
  height: 10em;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2em;
  margin: 7em 10em;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.8),
    0px -30px 120px 10px rgba(255, 255, 0, 0.5),
    30px 0px 120px 10px rgba(0, 255, 0, 0.4),
    0px 30px 120px 10px rgba(0, 0, 255, 0.8),
    -30px 0px 120px 10px rgba(255, 0, 0, 0.8);
}

/* ===================== HEART ========================= */
.heartp {
  display: block;
  position: relative;
  padding: 20px;
}

.heart {
  position: absolute;
  margin: auto;
  margin-top: 10px;
  right: 0;
  left: 0;
  background-color: var(--accent);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
}

.heart::after {
  background-color: cyan;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.heart::before {
  content: "";
  background-color: green;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

/* ==================== LIST - JAVASCRIPT IN HALF AN HOUR ===================== */
.highlight {
  background-color: yellow;
}

/* ===== JAVA SCRIPT IN 10 days TO DO APP ================= */
/* =================== RANDOM NUMBER GENERATOR ===========*/
.hiddenElement {
  visibility: hidden;
}

/* =================== GRID PRACTICE  ==================== */
#grid-art {
  grid-area: art;
}

#grid-biotech {
  grid-area: biotech;
}

#grid-bulka {
  grid-area: bulka;
}

#grid-code {
  grid-area: code;
}

#grid-dino {
  grid-area: dino;
}

#grid-makeup {
  grid-area: makeup;
}

#grid-bunny {
  grid-area: bunny;
}

#grid-nails {
  grid-area: nails;
}

#grid-plant {
  grid-area: plant;
}

#grid-food {
  grid-area: food;
}

#grid-spanish {
  grid-area: spanish;
}

#grid-witcher {
  grid-area: witcher;
}

.grid-practice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "art biotech bulka bulka "
    "code dino bulka bulka "
    "nails makeup bunny plant"
    " nails food spanish witcher";
  margin: 3rem auto;
  grid-gap: 0.3rem;
}

.grid-box {
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-box:hover {
  background: url("grid-practice/question-sign.gif") var(--accent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-opacity {
  opacity: 0;
  transition: all 0.5s ease;
}

/* ========== LOCAL STORAGE =============== */
#clear-list,
#clear-memory {
  background-color: white;
  color: black;
}

#clear-list:hover,
#clear-memory:hover {
  background-color: var(--medium);
  color: white;
}

/* ======================= FOOTER ========================= */
footer {
  margin: 0;
  text-align: center;
  color: white;
  background-color: var(--accent);
  padding: 1em;
}

/* ============== MEDIA QUERY ================== */
@media (max-width: 900px) {
  .about {
    flex-direction: column;
  }

  .profile {
    width: 90%;
  }

  .box {
    width: 90%;
    margin: 100px auto;
  }
}

@media (max-width: 630px) {
  .box {
    width: 96%;
    margin: 50px auto;
  }

  .title {
    font-size: 2.2rem;
    line-height: 2em;
  }
}
