/* COLOUR PALETTE
	--mojzielony:#87B242;
	--jasnyszary:#D9DAD4;
	--slonecznypomarancz:##C89819;
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Norican', cursive;
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 15vw;
  padding: 0;
  font-family: 'Lato', sans-serif;
  --mojzielony: #87B242;
  --jasnyszary: #D9DAD4;
}

h1 {
  margin: 0 -15vw 3rem;
  font-family: 'Norican', cursive;
  text-align: center;
  color: white;
  background-color: var(--mojzielony);
  padding: 1rem;
  font-size: 5rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: var(--mojzielony);
  padding: 0.5em;
  border-bottom: 2px solid var(--mojzielony)
}

h3 {
  background: var(--jasnyszary);
  padding: 1em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

p {
  line-height: 2em;
  margin: 2em 0 3em;
}

ol, ul {
  line-height: 2em;
}

a:link, a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: var(--mojzielony);
  text-decoration: underline;
}

a:link:active, a:visited:active {
  text-decoration: none;
  color: var(--mojzielony);
}

.code {
  background-color: var(--jasnyszary);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 3px;
  padding-left: 5px;
}

.about {
  display: flex;
  margin: 0 -15vw 2em;
  padding: 1em 10vw;
  background-color: var(--jasnyszary);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25),
  0 -5px 25px rgba(0, 0, 0, 0.25);
}

.about span {
  font-size: 0.8em;
  font-style: italic;
  margin-left: 3em;
}

.profilephoto {
  max-width: 30vw;
  align-self: center;
  margin: 1em;
  border: 2px;
  border-color: black;
  border-radius: 50%;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
  transition: 300ms;
}

.profilephoto:hover {
  box-shadow: 0px -30px 120px 10px rgba(255, 255, 0, 0.5),
    30px 0px 120px 10px rgba(0, 255, 0, 0.4),
    0px 30px 120px 10px rgba(0, 0, 255, 0.8),
    -30px 0px 120px 10px rgba(255, 0, 0, 0.8);
  transform: scale(2) rotate(-5deg);
}

.loved-li {
  margin-left: 0;
  margin-bottom: 3em;
}

.loved-li li::before {
  content: '\2665';
  padding-right: 1em;
}

form {
  background-color: var(--jasnyszary);
  padding: 30px;
  padding-left: 50px;
  margin: 1em 10vw 5rem;
}

[type=textarea] {
  background-color: var(--mojzielony);
}

button {
  font-size: 1rem;
  color: white;
  padding: 1em;
  margin-left: 1em;
  border: none;
  border-radius: 1em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--mojzielony);
}

button:hover {
  background-color: grey;
}

button:active, button:focus {
  background-color: black;
  outline: none;
}

/* ======================= CODE PLAYGROUND =================== */
/* =========================== box shadow ==================== */
.rainbow-box {
  width: 10em;
  height: 10em;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2em;
  margin: 7em 10em;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.8),
    0px -30px 120px 10px rgba(255, 255, 0, 0.5),
    30px 0px 120px 10px rgba(0, 255, 0, 0.4),
    0px 30px 120px 10px rgba(0, 0, 255, 0.8),
    -30px 0px 120px 10px rgba(255, 0, 0, 0.8);
}

/* =========================	GRADIENT ===============================*/
.gradientbox1 {
  width: 80%;
  display: block;
  margin: 0 3rem;
  height: 100px;
  background: repeating-linear-gradient(45deg,
    yellow 0px,
    cyan 40px,
    magenta 80px,
    yellow 110px);
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.gradientbox1:hover {
  transform: skewY(-5deg);
}

.gradientbox2 {
  display: block;
  margin: 0 3rem;
  width: 80%;
  height: 100px;
  background: repeating-linear-gradient(90deg,
    black 0px,
    black 20px,
    white 20px,
    white 40px);
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.gradientbox2:hover {
  transform: skewX(45deg);
}

/* ===================== HEART ========================= */
.heartp {
  display: block;
  position: relative;
  padding: 20px;
}

.heart {
  position: absolute;
  margin: auto;
  margin-top: 10px;
  right: 0;
  left: 0;
  background-color: var(--mojzielony);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
}

.heart::after {
  background-color: cyan;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.heart::before {
  content: '';
  background-color: green;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

/* ===================== CAT BLINKING ======================== */
.catblinking {
  background-color: black;
  position: relative;
  border-radius: 50%;
  align: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

/* ==================== JAVA SCRIPT IN HALF AN HOUR ===================== */
.highlight {
  background-color: yellow;
}

#list-items li {
  border-bottom: 1px solid #eeeeee;
  padding: 0.5em;
}

/* ==================== JAVA SCRIPT IN 10 days TO DO APP ===================== */
.todoapp {
  margin: 5vw;
  background-color: lightblue;
  padding: 1rem;
  z-index: 0;
    text-align: center;
}

#todo-form {
  font-size: 1rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin: 0 1em 1.5rem;
  }

.todoapp input {
  padding: 0.5em 1em;
  font-size: 1em;
  max-width: 60%;
}

#submit {
  font-size: 1rem;
  padding: 0.5em 1em;
  background: white;
  color: black;
  border: solid 2px white;
}

#submit:hover {
  background-color: grey;
}

#submit:active, #submit:focus {
  background-color: lightblue;
  border: solid 2px black;
}

.delete {
  padding: 0.5em 1em;
  background: none;
  color: white;
  border: 2px solid white;
}

.todoapp h3 {
  text-align: center;
  background: none;
  box-shadow: none;
  border-bottom: 2px solid black;
}
#todo-list {
  list-style: none;
  line-height: 3rem;
}

/* ======================= FOOTER ========================= */
footer {
  margin: 5rem -15vw 0;
  text-align: center;
  color: white;
  background-color: var(--mojzielony);
  padding: 1em;
}
