$dark: #111;
$medium: #666670;
$light: #c3c3c3;
$color1: #9cce40;
$color1a: #87b242;
$color2: #32c8b3;
$color3: #c89819;
$white: #fff;
$whitish: #fffff5;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*======= GLOBAL STYLES ===========*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: $dark;
  font-family: "Poppins", sans-serif;
  font-size: calc(1.5rem + 0.5vw);
}

/*img {
  width: 100%;
}*/

main {
  min-height: 85vh;
}

ul {
  list-style: none;
}

a,
a:visited {
  color: $dark;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

a:hover,
a:focus,
a:link:active,
a:visited:active {
  color: $color1a;
}

button {
  background-color: $color1a;
  color: $white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  color: $white;
  font-size: calc(1.5rem + 0.5vw);
}

nav,
footer,
button {
  a,
  a:visited {
    color: $white;
  }

  a:hover,
  a:focus,
  a:link:active,
  a:visited:active {
    color: $dark;
  }
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: calc(2rem + 1vw);
  font-family: "Norican", cursive;
}

h2 {
  font-size: calc(2rem + 0.5vw);
}

h3 {
  font-size: calc(3rem + 0.5vw);
  margin: 2rem auto;
}

h4 {
  font-size: calc(2.4rem + 1vw);
}
h5 {
  font-size: calc(2rem + 1vw);
}

.disclaimer {
  display: inline-block;
  font-size: calc(1rem + 0.2vw);
  padding: 2em;
}
.disclaimer-box {
  @include flex(row, center, center);
}

input,
textarea,
fieldset {
  font-size: calc(1.5rem + 0.5vw);
  border: solid 2px $color1a;
  background-color: $white;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 2rem;
}

@import "header";
@import "home";
@import "about";
@import "contact";
@import "footer";
@import "responsive";
